@import url("https://use.typekit.net/xxr5zif.css");

html{
  font-family: baskerville-display-pt, serif;
}

.Image{
  width: 300px;
  margin-left: 10%;
}

.daddy{
}

.main{
  margin-top: 100px;
  display: block;
}
.title{
  margin-left: 25px;
  position: absolute;
  text-align: center;
}

.text{
  margin-right: 10px;
  text-align: right;
  max-width: 300px;
  float:left;
}

@media screen and (max-width:630px)
{
  .title{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  .text{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }

  .Image{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}


.container{
  margin-top: 10px;
  display: block;
}
