@import url("https://use.typekit.net/xxr5zif.css");

html{
  font-family: baskerville-display-pt, serif;
}

.head{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.titleDiv{
  margin-top: auto;
  margin-bottom: auto;
  width: 35vw;
  text-align: center;
  margin-right: auto;
}

.Image{
  width: 30vw;
  margin-left: auto;
  margin-bottom: 25px;
}

.rule{
  margin-top:2.5vw;
  margin-left: 3vw;
  height: 2px;
  background-color: black;
}
.datetime{
  margin-left: 6vw;
  margin-right: 3vw;
}
.main{
  margin-top: 5px;
  display: block;
}
.title{
  margin-top: 50px;
  margin-left: 6vw;
  margin-right: 3vw;
  font-weight: lighter;
  font-size: 4vw;
  text-align: center;
}

.text{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 60%;
  margin-bottom: 50px;
  font-style: italic;
}



.container{
  margin-top: 5px;
  display: block;
}
