
.ft{
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
}


.imgs img{
  padding: 5px;
  max-width:30vw;
}

.imgs img:hover{
  transform: scale(1.01)
}

.texts img{
  display: flex;
  margin-left:10%;
  flex-direction: column;
  max-width: 30vw;
}
