@import url("https://use.typekit.net/xxr5zif.css");


.container{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.first_name{
  color: rgb(141,17,28);
  display: inline-block;
}

.last_name{
  display: inline-block;
}

.name{
  font-family: baskerville-display-pt, serif;
  font-size: 6vw;
  text-align: center;
}

@media screen and (min-width:800px)
{
  .name{
    font-size: 50px;
  }
}

.logo_img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
}


.image{
  display: block;
  margin: 0 auto;
  max-width: 75%;
  max-height: 75%;
}
